@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body{
  background:linear-gradient(to right , #000428,#004E92);
}

.Products__Heading {
  text-align: center;
  padding: 40px 0;
  color: rgb(255, 255, 255);
  margin-top:100px;
}

.Products__Heading h2 {
  font-size: 2rem;
}

.Products__Heading p {
  font-size: 1.1rem;
}

.Products__Container {
  display: flex;
  height: 450px;
  position: relative;
  gap: 20px;
  overflow-x: scroll;
  padding:0 30px ;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.grad-left{
  width: 50px;
  height: 320px;
  position: absolute;
  z-index: 1000;
  top: 54%;
  transform: translateY(-54%);
  background: linear-gradient(to right,#000428, rgba(0, 0, 0, 0));
}
.grad-right {
  width: 50px;
  height: 320px;
  position: absolute;
  z-index: 1000;
  top: 53%;
  right:0;
  transform: translateY(-53%);
  background: linear-gradient(to left, #004e92, rgba(0, 0, 0, 0));
}

a {
  text-decoration: none;
}

.home {
  padding: 0 100px;
}

@media screen and (max-width: 490px) {
  .home {
    padding: 0 5px !important;
  }

  .grad-left{
    width:10px;
  }
  .grad-right{
    width:10px;
  }

  .Products__Heading h2{
    font-size:20px !important;
  }
  .Products__Heading p{
    font-size:16px !important;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    padding: 30px;
  }
}

@media screen and (max-width: 1095px) {
  .home {
    padding: 0 100px;
  }
}

*::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar{
  display: none;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 136, 255);      
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, blue, rgb(255, 94, 0));    
  border-radius: 20px;      
  border: 3px solid rgb(0, 136, 255); 

}

.Products__Containers__Container{
  position: relative;
}